--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch
fastapi
uvicorn[standard]

beautifulsoup4
requests
lxml
httpx
trafilatura

sentence-transformers
faiss-cpu

groq

pydantic
pydantic-settings
email-validator
python-dotenv

numpy

pytest

rank-bm25

# Database
SQLAlchemy
alembic
psycopg2-binary

# Auth & Security
passlib[bcrypt]
python-jose[cryptography]
python-multipart

lxml_html_clean>=0.4.2